*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

p{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.voteBlock{
    display: flex;
    justify-content: space-between;
}

.smileBloc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.smileName{
    font-size: 50px;
    cursor: pointer;
}

.btnResults{
    padding: 20px 40px;
    border: 1px solid green;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: green;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);

    &:hover{
        background-color: #569b56;
    }
}

.winnersBlock{
    margin-top: 50px;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 20px;
    font-size: 50px;
}

.winners{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}